/* Estilos Gerais */
:root {
    --primarycolor: #4CAF50;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primarycolor);
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 22px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--primarycolor);
}

.intro {
    text-align: center;
    padding: 20px;
}

.gallery {
    padding: 20px;
}

.gallery h2 {
    text-align: center;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.photo {
    text-align: center;
}

.photo img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    /* Transição suave para hover */
}

/* Estilo hover nas imagens */
.photo img:hover {
    transform: scale(1.1);
    /* Aumenta a escala da imagem */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Adiciona sombra ao passar o mouse */
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/* Media Queries */

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
        margin-right: 0;
        font-size: 22px;
        border-top: 2px solid #fff;
    }
}


/* Estilos para desktops */
@media (min-width: 769px) {
    .photo-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}