@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Yusei Magic", sans-serif;
    color: blue;
    font-size: 30px;
    max-width: 30vw;
    text-align: center;
}

.super-coelho {
    width: 80px;
    height: 90px;
}

footer {
    width: 100vw;
}
.container-menu {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #666;
    height: 100px;
    align-items: center;
}

p {
    font-size: 20px;
    text-align: justify;
}

.container-texto {

    width: 80vw;
    margin: 50px auto;
    background-color: #9c81fd;
    padding: 10px;
    border-radius: 10px;
}

span {
    display: block;
    margin: 20px auto auto auto;
    text-align: center; 
}